<img src="../../assets/images/TheBridge.png" alt="The bridge">


<div style="position: relative; text-align: center;">

    <img src="../../assets/images/team.jpg" alt="The bridge" style="width: 100%;">

    <div
        style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)); padding: 20px; border-radius: 10px; font-weight: bold;">
        <h1>Improve your skills on your own
            To prepare for a better future</h1>
        <button style="background-color: rgb(175,47,100); color: white;" class="btn ">Register Now</button>
    </div>


</div>

<div class="container">
    <div class="discover">
        <div class=" d-flex justify-content-between">
            <h3>Discover Our Courses</h3>
            <button style="background-color: rgb(175,47,100); color: white; font-weight: bold;" class="btn ">Click
                me</button>
        </div>

    </div>



    <div class="grid-container">
        <div class="grid-item">
            <img src="../../assets/images/SpringAngular.png" alt="Image 1"> <br>
            <div>
                <p>Spring boot / Angular</p>
                <p class="price">350DT / Month</p>
            </div>
        </div>
        <div class="grid-item">
            <img src="../../assets/images/NodeReact.png" alt="Image 2">
            <div>
                <p>Node JS / React</p>
                <p class="price">350DT / Month</p>
            </div>
        </div>
        <div class="grid-item">
            <img src="../../assets/images/Flutter.png" alt="Image 3">
            <div>
                <p>Flutter / Firebase</p>
                <p class="price">350DT / Month</p>
            </div>
        </div>
        <div class="grid-item">
            <img src="../../assets/images/BI.png" alt="Image 4">
            <div>
                <p>Business intelligence</p>
                <p class="price">350DT / Month</p>
            </div>
        </div>
        <div class="grid-item">
            <img src="../../assets/images/IA.png" alt="Image 5">
            <div>
                <p>Artificial Intelligence</p>
                <p class="price">350DT / Month</p>
            </div>
        </div>
        <div class="grid-item">
            <img src="../../assets/images/Devops.png" alt="Image 6">
            <div>
                <p>Devops</p>
                <p class="price">350DT / Month</p>
            </div>
        </div>
    </div>
</div>


<div class="d-flex justify-content-center contact">

    <form>
        <div class="form-group">
            <label for="field1">Name</label>
            <input type="text" class="form-control" id="field1" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="field2">Email</label>
            <input type="text" class="form-control" id="field2" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="field3">Message</label>
            <textarea type="text" class="form-control" id="field3" placeholder="Message"></textarea>
        </div><br>
        <div class="d-flex justify-content-center">
            <button type="submit" style="background-color: rgb(175,47,100); color: white; font-weight: bold;"
                class="btn ">Send the message</button>
        </div>
    </form>

</div>